
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

div.page {
    width: 100%;
    height: 100%;
}

/* note list */

div.noteContainer {
    display: table;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

div.noteContainer > div.noteColumn {
    float: left;
}

div.noteContainer > div.noteColumn > div.note {
    margin: 5px;
    padding: 3px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    
    min-height: 130px;
    max-height: 250px;
    
    overflow: hidden;
}

div.noteContainer > div.noteColumn > div.note > div.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (orientation: landscape) {
    
    div.noteContainer > div.noteColumn {
        width: 33.33%;
    }
    
}

@media (orientation: portrait) {
    
    div.noteContainer > div.noteColumn {
        width: 50%;
    }
    
}