
div.noteEditor > div.toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
}

div.noteEditor > div.workArea {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
