
div.noteList > div.toolbar.header {
    
}

div.noteList > div.toolbar.header > div.section.left > div.appName {
    padding-left: 10px;
}

div.noteList > div.toolbar.header > div.section.right div.tool.buttonSearch {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjE4cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzAwMDAwMCIgdmlld0JveD0iMCAwIDQ4IDQ4IiBoZWlnaHQ9IjE4cHgiPgogIDxwYXRoIGQ9Im0zMSAyOGgtMS41OWwtMC41NS0wLjU1YzEuOTYtMi4yNyAzLjE0LTUuMjIgMy4xNC04LjQ1IDAtNy4xOC01LjgyLTEzLTEzLTEzcy0xMyA1LjgyLTEzIDEzIDUuODIgMTMgMTMgMTNjMy4yMyAwIDYuMTgtMS4xOCA4LjQ1LTMuMTNsMC41NSAwLjU1djEuNThsMTAgOS45OCAyLjk4LTIuOTgtOS45OC0xMHptLTEyIDBjLTQuOTcgMC05LTQuMDMtOS05czQuMDMtOSA5LTkgOSA0LjAzIDkgOS00LjAzIDktOSA5eiIvPgogIDxwYXRoIGQ9Im0wIDBoNDh2NDhoLTQ4eiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4K);
}

div.noteList > div.toolbar.header > div.section.right div.tool.toggleListType.toListView {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4KPCFET0NUWVBFIHN2ZyAgUFVCTElDICctLy9XM0MvL0RURCBTVkcgMS4xLy9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQnPgo8c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiB5PSIwcHgiIHg9IjBweCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIj4KCQk8cGF0aCBkPSJtMSAxNmgxOHYtNmgtMTh2NnptMC0xM3Y2aDE4di02aC0xOHoiLz4KPC9zdmc+Cg==);
}

div.noteList > div.toolbar.header > div.section.right div.tool.toggleListType.toMosaic {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4KPCFET0NUWVBFIHN2ZyAgUFVCTElDICctLy9XM0MvL0RURCBTVkcgMS4xLy9FTicgICdodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQnPgo8c3ZnIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHZpZXdCb3g9IjAgMCAyMCAyMCIgdmVyc2lvbj0iMS4xIiB5PSIwcHgiIHg9IjBweCIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIj4KCTxyZWN0IHk9IjMiIHdpZHRoPSI2IiBoZWlnaHQ9IjE0Ii8+Cgk8cmVjdCB5PSIzIiB4PSI3IiBoZWlnaHQ9IjUiIHdpZHRoPSI2Ii8+Cgk8cmVjdCB5PSI5IiB4PSI3IiBoZWlnaHQ9IjgiIHdpZHRoPSI2Ii8+Cgk8cmVjdCB5PSIxMyIgeD0iMTQiIGhlaWdodD0iNCIgd2lkdGg9IjYiLz4KCTxyZWN0IHk9IjMiIHg9IjE0IiBoZWlnaHQ9IjkiIHdpZHRoPSI2Ii8+Cjwvc3ZnPgo=);
}

div.noteList > div.toolbar.search {
    z-index: 5;
    background-color: white;
}

div.noteList > div.toolbar.search > div.section.left,
div.noteList > div.toolbar.search > div.section.right {
    width: 100%;
    table-layout: fixed;
}

div.noteList > div.toolbar.search > div.section > div.tool.icon.back {
    background-image: url(../img/navigation/ic_arrow_back_24px.svg);
}

div.noteList > div.toolbar.search > div.section > div.tool.search {
    width: 90%;
    padding-left: 5px;
}

div.noteList > div.toolbar.search > div.section > div.tool.search > .input {
    width: 98%;
}

div.noteList > div.toolbar.footer {
    top: auto;
    bottom: 0px;
    
    height: 45px;
}

div.noteList > div.toolbar.footer > div.section.left > div.tool.buttonNew > a {
    color: gray;
    text-decoration: none;
}

div.noteList > div.noteContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 45px;
    overflow-y: auto;
    background-color: #e8e8e8;
}

div.noteList > div.noteContainer  div.note {
    margin: 5px;
    padding: 3px;
    
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    
    min-height: 130px;
    max-height: 250px;
    
    overflow: hidden;
}

div.noteList > div.noteContainer.mosaic > div.noteColumn {
    float: left;
}

div.noteList > div.noteContainer.mosaic > div.noteColumn > div.note > div.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}