
div.noteList > div.toolbar.header {
    
}

div.noteList > div.toolbar.header > div.section.left > div.appName {
    padding-left: 10px;
}

div.noteList > div.toolbar.header > div.section.right div.tool.buttonSearch {
    background-image: url(../img/action/ic_search_48px.svg);
}

div.noteList > div.toolbar.header > div.section.right div.tool.toggleListType.toListView {
    background-image: url(../img/action/ic_view_stream_24px.svg);
}

div.noteList > div.toolbar.header > div.section.right div.tool.toggleListType.toMosaic {
    background-image: url(../img/action/ic_view_quilt_24px.svg);
}

div.noteList > div.toolbar.search {
    z-index: 5;
    background-color: white;
}

div.noteList > div.toolbar.search > div.section.left,
div.noteList > div.toolbar.search > div.section.right {
    width: 100%;
    table-layout: fixed;
}

div.noteList > div.toolbar.search > div.section > div.tool.icon.back {
    background-image: url(../img/navigation/ic_arrow_back_24px.svg);
}

div.noteList > div.toolbar.search > div.section > div.tool.search {
    width: 90%;
    padding-left: 5px;
}

div.noteList > div.toolbar.search > div.section > div.tool.search > .input {
    width: 98%;
}

div.noteList > div.toolbar.footer {
    top: auto;
    bottom: 0px;
    
    height: 45px;
}

div.noteList > div.toolbar.footer > div.section.left > div.tool.buttonNew > a {
    color: gray;
    text-decoration: none;
}

div.noteList > div.noteContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 45px;
    overflow-y: auto;
    background-color: #e8e8e8;
}

div.noteList > div.noteContainer  div.note {
    margin: 5px;
    padding: 3px;
    
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    
    min-height: 80px;
    max-height: 150px;
    
    overflow: hidden;
}

div.noteList > div.noteContainer  div.note > div.text {
    white-space: pre-wrap;
}

div.noteList > div.noteContainer.mosaic > div.noteColumn {
    float: left;
}

div.noteList > div.noteContainer.mosaic > div.noteColumn > div.note > div.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}