
div.noteEditor > div.toolbar > div.section > div.tool.icon.back {
    background-image: url(../img/navigation/ic_arrow_back_24px.svg);
}

div.noteEditor > div.workArea {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    
    padding: 23px;
}
