
<div class="noteList" ng-controller="noteListController">
    
    <div class="appBar">
        <div class="appName">Notes</div>
        <div class="appTools">
            <div style="float: right">
                <div class="buttonSearch" ng-click="activateSearchBar()"></div>
                <div class="toggleListType {{ mosaicDisplay ? 'toListView' : 'toMosaic' }}" ng-click="toggleListType()"></div>
            </div>
        </div>
    </div>
    
    <div class="searchBar" ng-if="searchBarActive">
        <div>
            <div class="back" ng-click="deactivateSearchBar()"></div>
            <div class="search">
                <input class="input" type="text" placeholder="Search notes" ng-model="$parent.searchText">
            </div>
        </div>
    </div>
    
    <div class="noteContainer mosaic" ng-if="mosaicDisplay">
        <div class="noteColumn dismissContainer" ng-repeat="noteColumnIndex in noteColumnIndices"
             style="width: {{ 100.0 / noteColumnIndices.length }}%;">
            <div class="note" ng-repeat="note in notes | filter:searchText track by $index" 
                 ng-if="containsNote(note, $index, noteColumnIndex)"
                 data-touch="editNote(note)" data-drag-to-dismiss="deleteNote(note)">
                <div class="title">{{ note.title }}</div>
                <div class="text">{{ note.text }}</div>
            </div>
        </div>
    </div>
    
    <div class="noteContainer listView" ng-if="!mosaicDisplay">
        <div class="note" ng-repeat="note in notes | filter:searchText"
             data-touch="editNote(note)" data-drag-to-dismiss="deleteNote(note)">
            <div class="title">{{ note.title }}</div>
            <div class="text">{{ note.text }}</div>
        </div>
    </div>
    
    <div class="toolbar">
        <div class="buttonNew">
            <a href="#/notes/new">New note...</a>
        </div>
    </div>
    
</div>