
<div class="noteList" ng-controller="noteListController">
    
    <div class="appBar">
        <div class="appName">Notes</div>
        <div class="appTools">
            <div style="float: right">
                <div class="toggleListType {{ mosaicDisplay ? 'toListView' : 'toMosaic' }}" ng-click="toggleListType()"></div>
            </div>
        </div>
    </div>
    
    <div class="noteContainer">
        <div class="noteColumn dismissContainer" ng-repeat="noteColumnIndex in noteColumnIndices">
            <div class="note" ng-repeat="note in notes track by $index" 
                 ng-if="containsNote(note, $index, noteColumnIndex)"
                 data-touch="editNote(note)" data-drag-to-dismiss="deleteNote(note)">
                <div class="title">{{ note.title }}</div>
                <div class="text">{{ note.text }}</div>
            </div>
        </div>
    </div>
    
    <div class="toolbar">
        <div class="buttonNew">
            <a href="#/notes/new">New note...</a>
        </div>
    </div>
    
</div>