<?xml version='1.0' encoding='utf-8'?>
<widget id="gr.aueb.cs.foss.notes" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FOSS Notes Demo</name>
    <description>
        A sample notes application for the FOSS PhoneGap presentation.
    </description>
    <author email="nick.nachos86@gmail.com" href="https://github.com/nick-nachos" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="resources/launcher-icons/android/drawable-ldpi/icon.png" />
        <icon density="mdpi" src="resources/launcher-icons/android/drawable-mdpi/icon.png" />
        <icon density="hdpi" src="resources/launcher-icons/android/drawable-hdpi/icon.png" />
        <icon density="xhdpi" src="resources/launcher-icons/android/drawable-xhdpi/icon.png" />
        <icon density="xxhdpi" src="resources/launcher-icons/android/drawable-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="resources/launcher-icons/android/drawable-xxxhdpi/icon.png" />
        <splash density="land-ldpi" src="resources/splashes/drawable-land-ldpi/screen.png" />
        <splash density="land-mdpi" src="resources/splashes/drawable-land-mdpi/screen.png" />
        <splash density="land-hdpi" src="resources/splashes/drawable-land-hdpi/screen.png" />
        <splash density="land-xhdpi" src="resources/splashes/drawable-land-xhdpi/screen.png" />
        <splash density="land-xxhdpi" src="resources/splashes/drawable-land-xxhdpi/screen.png" />
        <splash density="land-xxxhdpi" src="resources/splashes/drawable-land-xxxhdpi/screen.png" />
        <splash density="port-ldpi" src="resources/splashes/drawable-port-ldpi/screen.png" />
        <splash density="port-mdpi" src="resources/splashes/drawable-port-mdpi/screen.png" />
        <splash density="port-hdpi" src="resources/splashes/drawable-port-hdpi/screen.png" />
        <splash density="port-xhdpi" src="resources/splashes/drawable-port-xhdpi/screen.png" />
        <splash density="port-xxhdpi" src="resources/splashes/drawable-port-xxhdpi/screen.png" />
        <splash density="port-xxxhdpi" src="resources/splashes/drawable-port-xxxhdpi/screen.png" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
    
</widget>
